.loader-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px 558px;
  width: 320px;
  height: 200px;
}

.circle {
  height: 80px;
  width: 80px;
  background: url(/src/assets/circle.png);
  background-size: auto;
  background-repeat: no-repeat;
  animation: Poping-circle 1s linear infinite alternate 0s forwards;
}

.square {
  height: 100px;
  width: 100px;
  background: url(/src/assets/square.png);
  background-size: auto;
  background-repeat: no-repeat;
  animation: Rotating-square 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite 0s;
}

@keyframes Poping-circle {
  from {
    transform: scale(0.6);
  }
  to {
    transform: scale(1);
  }
}

@keyframes Rotating-square {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
